#!/bin/sh
# Cut and paste into your crontab, or copy to /etc/cron.daily/00clog as
# appropriate.
/usr/local/bin/clog | mail -s "clog report for `hostname`" root

# If you're like me and would like to truncate the email at 72 characters:
#/usr/local/bin/clog | sed "s/^\(.\{72\}\).*$/\1/" | mail -s "clog report for `hostname`" root
